@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body, html {
    font-family: 'Open Sans', sans-serif;
    background-color: #202124;
}

.body-container {
    display: flex;
    flex-direction: column;
}

.header a {
    float: left;
    text-decoration-line: none;
    color: #bdc1c6;
    font-size: 1em;
    padding: 1em;
    margin-top: 1.7em;
}

#logo {
    margin: .5em 1em;
    padding: 0;
}

.header-right a {
    float: right;
}

.header-left a:hover {
    text-decoration: underline;
    background-color: #303134;
}

.grid-container {
    text-align: center;
    color: #ffffff;
    display: grid;
    grid-template-columns: repeat(1, 100%);
    grid-template-areas:
    'title-1'
    'movie-1'
    'movie-2'
    'movie-3'
    'movie-4'
    'title-2'
    'show-1'
    'show-2'
    'show-3'
    'show-4';
    gap: .5em;
    font-size: .9em;
    margin: 0 3em;
}

.title-1, .title-2 {
    grid-area: title-1;
    text-align: left;
    margin: 1em 0;
}

.movie-1{
    grid-area: movie-1;
}

.movie-2 {
    grid-area: movie-2;
}

.movie-3 {
    grid-area: movie-3;
}

.movie-4 {
    grid-area: movie-4;
}

.title-2 {
    grid-area: title-2;
    text-align: left;
    margin-bottom: 1em;
}

.show-1{
    grid-area: show-1;
}

.show-2 {
    grid-area: show-2;
}

.show-3 {
    grid-area: show-3;
}

.show-4 {
    grid-area: show-4;
}

.movie-1, .movie-2, .movie-3, .movie-4, .show-1, .show-2, .show-3, .show-4 {
    border: 2px solid #303134;
    border-radius: 2em;
    font-size: .9em;
}

.grid-container img {
    padding: 1em;
    width: 90%;
}

.grid-container a {
    text-decoration-line: none;
    color: #bdc1c6;
}

.grid-container a:hover {
    text-decoration: underline;
}

.grid-container a:hover ~ a, .grid-container img:hover {
    filter: brightness(50%);
}

.footer {
    color: #bdc1c6;
    text-align: center;
    padding: 10px;
    padding-top: 0px;
    margin: 0;
    font-size: .9em;
}

.footer hr {
    border: 1px solid #bdc1c6;
}

.footer button {
    border: none;
    width: 20px;
    height: 20px;
    cursor: pointer;
    background-color: transparent;
}

/* on screens that are 600px or more */
@media only screen and (min-width: 600px) {
    .grid-container {
        grid-template-columns: repeat(2, 50%);
        grid-template-areas:
        'title-1 title-1'
        'movie-1 movie-2'
        'movie-3 movie-4'
        'title-2 title-2'
        'show-1 show-2'
        'show-3 show-4';
    }
}

/* on screens that are 992px or more */
@media only screen and (min-width: 992px) {
    .grid-container {
        grid-template-columns: repeat(4, 25%);
        grid-template-areas:
        'title-1 title-1 title-1 title-1'
        'movie-1 movie-2 movie-3 movie-4'
        'title-2 title-2 title-2 title-2'
        'show-1 show-2 show-3 show-4';
    }
}